{
  "extends": "eslint-config-airbnb",
  "rules": {
    "arrow-body-style": "off",
    "max-len": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-target-blank": "off",
    "comma-dangle": "off"
  }
}
