<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>missbarium</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
  <script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
</head>
<body>
  <div id="app"></div>
  <script src='./app.js'></script>
</body>
